.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-85:before {
    content: "";
    background: linear-gradient( 45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.carousel-inner img {
    width: 100%;
    height: 700px;
}

.card {
    /* padding: 5px; */
    transition: 0.5s ease;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.228); */
    /* overflow: hidden; */
}

.card:hover {
    transform: scale(1.1);
}

.card-img {
    overflow: hidden;
}

.card-img:hover img {
    transition: 0.4s ease-in-out;
    transform: scale(1.2);
}

.image img {
    height: 50%;
    width: 50%;
    border-radius: 50%;
    margin-top: 20px;
}

.nvg {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}


/* .col{
    border: 2px solid black;
  } */


/* .card-img-top{
    border-radius: 50%;
  } */