<div class="container">
    <div class="container-wrapper">
        <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>Login</h3>

        <form method="post" class="text-center">
            <div class="item">
                <input [(ngModel)]="email" name="email" class="input" type="text" placeholder="Username" />
            </div>
            <div class="item">
                <input [(ngModel)]="password" name="password" class="input" type="password" placeholder="Password" />
            </div>
            <span class="remember"><a href="#">Forgot Password?</a></span>

            <div class="item submit">
                <button (click)="signin()" type="submit">Login</button>
            </div>
        </form>
        <!-- <h2><span>OR</span></h2> -->

        <div class="social-media text-center mt-3">
            <a href="#">
                <div class="icons8-google social-mediaImg"></div>
            </a>
            <!-- <a href="#"><div class="icons8-facebook-circled social-mediaImg"></div></a>
                <a href="#"><div class="icons8-twitter social-mediaImg"></div></a>  -->
        </div>
        <span class="ac">Don't have an Account? <a href="#">Sign Up</a></span>
    </div>
</div>
