<nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <a class="navbar-brand ml-4 mt-3" href="#">
        <h4 class="neon">BidHouse</h4>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse justify-content-end mr-5" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link text-info" routerLink="/">Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" href="#"
          >contact<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link text-info" href="#"
          >About<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a *ngIf="!isLoggedIn()" class="nav-link text-info" routerLink="sign-in"
          >Signin<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a *ngIf="!isLoggedIn()" class="nav-link text-info" routerLink=""
          >Signup<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a
          *ngIf="isLoggedIn()"
          class="nav-link text-info"
          (click)="signOut()"
          routerLink=""
          >Signout<span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 serch text-dark" type="search" placeholder="Search" aria-label="Search">
        <button class="button-85" role="button">search</button>
      </form> -->
  </div>
</nav>
